# Example Sonar config file for when Sonar is run from systemd.
#
# The output will be stored in /var/log/sonar/my-machine.  The directory /var/log/sonar must be
# created by the install process and must be writable by the user running sonar.

[global]
cluster = my-cluster
role = node

[directory]
data-directory = /var/log/sonar/my-cluster

[sysinfo]
cadence = 1h

[sample]
cadence = 30s
min-cpu-time = 60s
exclude-commands = bash,ssh,zsh,tmux,systemd
