# Example Sonar config file for when Sonar is run as a background job from a shell as the user, e.g
#
#   sonar daemon user-vm-deploy.cfg &
#
# The output will be stored in sonar/my-machine under the cwd when sonar is started.  To stop sonar
# again, just `pkill sonar` or use normal job control.

[global]
cluster = my-machine
role = node

[directory]
data-directory = sonar/my-machine

[sysinfo]
cadence = 1h

[sample]
cadence = 30s
min-cpu-time = 60s
exclude-commands = bash,ssh,zsh,tmux,systemd
